<section>
    <div class="contact" style="margin-top:0.5em;" align="center">
        <font size="5"><a href="mailto:xiaochenchen.git@gmail.com" title="email" style="text-decoration:none" class="icon-mail"></a></font>
        <font size="5">&nbsp;&nbsp;</font>
        <font size="5"><a href="http://www.linkedin.com/in/jamesxiaochen" title="linkedin" style="text-decoration:none" class="icon-linkedin" target="_blank"></a></font>
        <font size="5">&nbsp;&nbsp;</font>
        <font size="5"><a href="http://www.weibo.com/u/2462126714" title="weibo" style="text-decoration:none" class="icon-chn-weibo" target="_blank"></a></font>
        <font size="5">&nbsp;&nbsp;</font>
        <font size="5"><a href="https://plus.google.com/102810365172178380975" title="googleplus" style="text-decoration:none" class="icon-google__x2B_" target="_blank"></a></font>
        <font size="5">&nbsp;</font>
        <font size="5"><a href="https://www.facebook.com/people/Xiaochen-Chen/8119253" title="facebook" style="text-decoration:none" class="icon-facebook" target="_blank"></a></font>

    </div>
</section>
