/* --- main layout --- */

/* --- header, blog header and subheader --- */
body > header h1{
    font-size: 2.0em;
}
body > header h2{
    font-size: 1.0em;
}

/* --- navigation bar --- */
body > nav a{
    font-size: 1em;
}

/* --- content --- */
#content .blog-index article h1{
    font-size: 1.5em;
}

#content .blog-index article h1, #content .blog-index article h1 a, article header h1, article header h1 a{
    color: #000000 !important;
}

h1 { font-size: 1.8em; }
